h1 {
    font-size: 20px;
    color: #aa3322;
}

ul,
li {
    background-color: #aa3322;
    color: #cccccc;
    font-size: 14px;
    border: 1px #cccccc dotted;
    list-style: none;
    text-align: left;
    list-style-position: outside;
    padding: 0;
    margin: 0;
}

footer {
    text-align: center;
    color: #721717;
    background-color: #aaaaaa;
    padding: 20px;
}

html,
body {
    height: 297mm;
    width: 210mm;
}

a {
    color: #cccccc;
    text-decoration: none;
}

table,
th {
    border: 1px #aa3322 solid;
    border-collapse: collapse;
    width: 100px;
    table-layout: fixed;
}

thead {
    font-size: 14px;
}

tbody th {
    font-size: 12px;
}

blockquote {
    background-color: #ededed;
    font-size: 16px;
    border: 1px #aa3322 dotted;
    width: 450px;
    padding: 10px 0px 10px 10px;
}

.lien {
    color: #aa3322;
}